@font-face {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 400;
  src: local("Rubik-Medium"),
  url(../fonts/Rubik-Medium.woff2) format(woff2),
  url(../fonts/Rubik-Medium.woff1) format(woff);
  font-display: swap;
}
