html,
body{
  height: 100%;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.wrapper{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  font-size: 14px;
  color: $text;
  @extend %rubik-400;
}

.title{
 
  @extend %DMSans-700;
  font-size: 36px;
  line-height: 1.2;;
  color: #1a1a1a;
  margin-bottom: 30px;
}

